body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

main {
    background-color: hsl(212, 45%, 89%);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component {
    box-sizing: border-box;
    width: 320px;
    padding: 16px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}

img {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 10px;
}

.title {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

.text-box {
    padding: 0px 16px;
}

.paragraph {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}

footer {
    font-size: 12px;
    color: hsl(216, 15%, 48%);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
